<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>API Frameworks</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>

        <h1>Languages</h1>
        <div class="langs">
            <div class="lang1">
                <h2><u>Lang #1 : {{lang1_name}} </u></h2>
                <h3>links :-</h3>

                <div>
                    <h3>course depth coverage: {{ votes1 }} </h3>
                    <form method="post">
                        <button type="submit" formaction="/home/cdc" name="vote1">VOTE UP</button>
                    </form>
                </div>

                <div>
                    <h3>concepts well explained: {{ votes2 }} </h3>
                    <form method="post">
                        <button type="submit" formaction="/home/cwe" name="vote2">VOTE UP</button>
                    </form>
                </div>

                <div>
                    <h3>quality of content: {{ votes3 }} </h3>
                    <form method="post">
                        <button type="submit" formaction="/home/qoc" name="vote3">VOTE UP</button>
                    </form>
                </div>

            </div>
        </div>

    </body>
</html>
